<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.name }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=3.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">?
    <link href="stylesheets/main_style.css" rel="stylesheet" />
    <style>
        /*override defaults */

        .main-header {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            font-weight: 600;
            height: 130px;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 1000;
            background-image: none;
            background: #1e1e50;
        }

        

        .main-navbar .navbar li a {

            color: #cccccc;

        }
        .main-navbar .navbar li.logo img {

            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
        }
    </style>

</head>
<body>
<section class="wrapper">
    <header class="main-header">
        <div class="mobile-logo"><img src="images/logo.png" /></div><!-- This is the logo which is going to be displayed when the website is opened on a smart phone or another mobile device with a smaller screen resolution-->

        <nav class="main-navbar">
            <ul class="navbar" id="navbar">
                <li><a href="#" id="sub1">HOME</a></li>
                <li><a href="#" id="sub2">OUR MISSION</a></li>
                <li><a href="#" id="sub3">PROGRAMS</a></li>
                <li class="logo"><a href="#" id="logo0"><img src="images/logo.png" alt="site-logo" /></a></li>
                <li><a href="#" id="sub4">SUPPORT US</a></li>
                <li><a href="#" id="sub5">HISTORY</a></li>
                <li><a href="#" id="sub6">STRATEGY</a></li>
            </ul>
            <a href="#" class="mobile-menu">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </nav>
    </header>
    <section class="main-content">
      
      
      <!-- banner -->
      
      
        <section class="banner" id="content0">
        <img src="images/banner.jpg" class="entire-width"/>
        <h3 class="ticker buttonHolder">
        
            
            $12,500 raised so far. $17,500 remaining to  our goal.
            
            
            
            <a href="#" class="frontButton" title="paypal donation"><img src="images/paypal-small.png" /></a>
            <section class="modal-window">
                <section class="PayPal-wrapper">
                    <span class="closeBtn"></span>
                    <div id="donateAll" class="donations">
                        <h4>Make my donation available to:</h4>
                        <span>NET General Donations</span>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="Z36F7RFRPKN9G">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                    <div id="donateNHS" class="donations">
                        <span>NHS French Club</span>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="DZAY683D6ANWL">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                    <div id="donateNES" class="donations">
                        <span>NES Playground</span>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="TQFLENX2L6AAY">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                    <div id="donateSPP" class="donations">
                        <span>NET Student Programs and Projects</span>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="X6AL9YK7BEBKU">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                </section>
            </section>
        </h3>
    </section>
      
      