html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*
@font-face {
    font-family: Capture_it;
    src: url('../fonts/Capture_it.ttf') format('truetype');
}

@font-face {
    font-family: JosefinSlab-Regular;
    src: url('../fonts/JosefinSlab-Regular.ttf') format('truetype');
}
*/

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
body {
    background-color: #fff;
    font-size: 0.75em;
    line-height: 1.3em;
    /*font-family: JosefinSlab-Regular, 'Times New Roman',Georgia, serif;*/
  	font-family: Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}
h3 {
	font-size: 1.3em !important;
	margin-bottom: 15px !important;
}
h4 {
font-size: 1.2em !important;
margin: 15px 0 !important;
}
.main-header {
    width: 100%;
    height: 130px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 600;
    background-image: url(../images/lightpaperfibers.png);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
.main-header .slogan {
    display: none;
}
.main-navbar .navbar {
    list-style-type: none;
    text-align: center;
    width: 880px;
    margin: 0 auto;
}
.main-navbar .navbar li {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.main-navbar .navbar li.logo  img{
    border-radius: 86px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);

}
.main-navbar .navbar li a {
    text-decoration: none;
    color: #1e1e50;
    padding: 10px;
    -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.main-navbar .navbar li a:hover  {
    
    color: #fff;
}
.main-navbar .navbar li a#logo0:hover {
    border-bottom: none;
}
.main-navbar .navbar li a.subCurrent {
    border-bottom: solid 1px;
    color: #fff;
}
a#logo0.subCurrent {
    border-bottom: none;
}
p a {
    text-decoration: none;
    color: #1e1e50;

}
p a:hover {
    text-decoration: underline;

}
.main-navbar .navbar li.logo a:hover {
    opacity:1;
    color: #000;
}
.main-content {
    /*width: 800px;*/
    height: 100%;
    position: relative;
    /*margin: 40px auto 0;*/
}
.pannel {
  width: 800px;
  margin: 0 auto;
}
section#content1 {
  padding-top: 5px;
}
.main-content .content-ul {
    list-style: disc;
    margin:10px 0 10px 20px;
    font-size: 1.2em;
    line-height: 1.5em;
}
.main-content p, div#form-wrapper p {
    font-size: 1.2em;
    margin: 10px 0 20px;
    line-height: 1.5em;
}
.main-content #page_3 h6 {
    text-align:center;
}
.main-content .bold {
    font-weight: bold;
}
.main-content .banner {
    margin: 0px auto 0 auto;
}
.banner h2 {
  display: none;
}

.main-content #page_1, #page_2, #page_3, #page_4, #page_5, #page_6 {
    margin: 35px 0;
}
.main-content section h2, div#form-wrapper h2 {
    font-weight: bold;
    font-size: 1.6em;
    -webkit-text-shadow: 0px 0px 5px #fff;
    text-shadow: 0px 0px 5px #fff;
    margin: 40px 0 10px;
    text-align: center;
    color: #1e1e50;
  	line-height: 1.1em; 
}
h2 .no-bg {
	    background-color: transparent;
}
.main-content .no-bg, div#form-wrapper .no-bg {

    background-color: #fff;
    padding: 0 10px;
    height: 1.4em;
}
#content0 {
    background: #d9d9ee;
    padding-top: 130px;
    text-align: center;
}
#content0 .entire-width {
    min-width: 60%;
    max-width: 60%;
	margin: 0 auto;

}
.entire-width {
	min-width: 100%;

}
.flexslider.entire-width {
  border: none;
}
.flex-control-nav {
  z-index: 22;
  background-color: rgba(0,0,0,.6);
  padding: 5px 0;
  bottom: 0px;
}
.flex-control-nav li {
  vertical-align: middle;
}
.flex-control-paging li a {
  background: rgba(255,255,255,.5);
}
.flex-control-paging li a:hover {
  background: rgba(255,255,255,.9);
}
.flex-control-paging li a.flex-active {
  background: rgba(255,255,255,.9);
}
.flex-direction-nav a {
  width: 40px;
  height: 15px;
  margin: 0;
  top: 96%;
  z-index: 100;
  color: rgba(255,255,255,.9);
  text-shadow: none;transition: all .3s ease-in-out;
}
.flex-direction-nav a:before {
  font-size: 15px;
  display: block;
  content: '\f001';
  color: rgba(255,255,255,1);
  text-shadow: none;
}
.mobile-logo {
    display: none;
    width: 90px;
    height: 90px;
    margin: 5px 10px 0 5px;
    border-radius: 86px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.mobile-logo img {
    width: 90px;
    height: 90px;
}

h3.ticker {
    background: none repeat scroll 0 0 #d9d9ee;
    font-size: 1.2em;
    font-weight: 900;
    color: #1E1E50;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}
h3.ticker a img {
    margin: auto 10px;
    vertical-align: middle;
    border-radius: 5px;
}
#robinHarvey {
	float:left;
	display:block;
	margin:0 15px 0 0;
	max-width:153px
}

/* ------------------------------- Form styles ---------------------- */
div#form-wrapper {
    margin: 0 auto;
    max-width: 800px;
    padding-top: 50px;
    width: 100%;
}
img#form-logo {
    display: block;
    margin: 0 auto;
}
button#form-link {
    background-color: #1E1E50;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    display: block;
    font-size: 0.9em;
    margin: 20px auto;
    padding: 20px;
    cursor: pointer;
}
button#form-link:hover {
    opacity: .9;
    color: #cccccc;
}
p.thank-you {
    font-size: 1.4em !important;
    margin-top: 80px !important;
    text-align: center;
}
/* =================================================================== */


/* ---------------------------- Donation Buttons ---------------------- */

/* --------------- Donation Modal Window --------------- */
.frontButton {
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
}
#payPalButton {
    float: right;
    margin: 0 0 20px 20px;
}
.frontButton:hover {
    opacity: .8;
}
.modal-window {
    opacity: 0;
    position: absolute;

}
.showModal {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0px;
    color: #FFFFFF;
    opacity: 1;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1000;
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
}


.PayPal-wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000000;
    margin: 35px auto;
    text-align: center;
    width: 50%;
}
div.donations {
    line-height: 1em;
    padding: 15px;
    text-align: left;
}
.donations > h4 {
    display: block;
    font-weight: bold;
    margin: 0 0 10px;
    text-align: center;
}
.donations > span {
    display: inline-block;
    font-weight: normal;
    font-size: .9em;
    width: 75%;
}
.donations > form {
    display: inline-block;
    vertical-align: text-top;
}
.donations > form:hover {
    opacity: .8;
}
.closeBtn {
    background: url("../images/close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 48px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 48px;
}
.closeBtn:hover {
    opacity: .8;
    cursor: pointer;
}

strong, b {
	font-weight: bold;
}
em, i {
	font-style: italic; 
}

/* ===================================================== */

/* =================================================================== */


/*--------------------------------------media queries-------------------------*/
@media only screen and (max-width: 1100px) {
    /*.main-content {
		margin: 130px auto 0;
	}*/
	.entire-width {
		width: 60%;
		max-width: 800px;
		margin: 0 auto;
		display: block;
		min-width: 0;
	}
}
@media only screen and (max-width: 885px) {
    .PayPal-wrapper {
        width: 90%;
    }
}
@media only screen and (max-width: 850px) {
    .main-header {
        height: 50px!important;
    }
    .navbar {
        display: none;

    }
    .mobile-logo {
        display: block;
    }
    .main-content {
        margin: 0 auto;
        max-width: 100%;

    }
    .main-content .banner {
        max-width: 100%;
    }
    .main-content .banner .entire-width  {
        max-width: 100%;
    }
	.pannel {
		max-width: 90%;
		margin: 0 auto;
	}
	section#content1 {
		padding-top: 35px;
	}
    .mobile-menu {
        display: block;
        height: 30px;
        width: 30px;
        position: absolute;
        top: 7px;
        right: 10px;
    }
    .mobile-menu span {
        display:block;
        height: 7px;
        border-bottom: 3px solid #fff;
    }

    .show-on-mobile {
        display: block;
        background-color: rgba(30, 30, 80, 0.9);
        opacity: 0.9;
        text-align: right !important;
        padding: 10px 0 15px 0;
        width: 150px !important;
        position: absolute;
        top: 52px;
        right: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
    .show-on-mobile .logo {
        display: none !important;
    }
    .show-on-mobile li {
        display: block !important;
    }


    .showModal {
        top: 100px;
    }
}
@media only screen and (max-width: 670px) {
    .frontButton {
        display: block;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 590px) {
    .showModal {
        bottom: 25px;
    }
}
@media only screen and (max-width: 550px) {
    div.donations {
        font-size: .8em;
    }
    .donations > form {
        margin-left: 1%;
    }
    div.donations {
        font-size: 0.8em;
        padding: 15px 5px;
    }
}
@media only screen and (max-width: 490px) {
    .showModal {
        top: 50px;
    }
    div.donations {
        padding: 5px;
    }
	#content0 .entire-width {
		min-width: 80%;
		max-width: 80%;
	}
}
@media only screen and (max-width: 470px) {
    .donations span {
        width: 100%;
        text-align: center;
    }
    .donations > form {
        display: block;
        margin: 10px auto 0;
        width: auto;
        text-align: center;
    }
}
@media only screen and (max-width: 380px) {
    .mobile-logo, .mobile-logo img {
        width: 70px;
        height: 70px;
    }
    .frontButton img {
        width: 70%;
        height: 70%;
    }
	#robinHarvey {
		float:none;
		margin: 0 auto;
	}
}
